[Unit]
Description={{ name }} Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ user }}
Group={{ group }}
ExecStart={{ exec }}

{% if environment_variables is defined %}
{% for key, value in environment_variables.items() %}
Environment={{ key }}={{ value }}
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target