[Unit]
Description=Kratos Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=kratos
ExecStart=/opt/kratos/bin/kratos -c /opt/kratos/config/config.yaml serve

[Install]
WantedBy=multi-user.target